:root {
    --main-bg-color: #142645;
  }
html{
    background-color: var(--main-bg-color);
    margin: 150px;
}
.row{
    background-color: var(--main-bg-color);
    text-emphasis-color: white;
    margin-top: 100px;
    height: 250px;
}
p, h2{
    color:white;

}
/*a{
    background-color: black;
}*/
.d-flex{
    background-color: var(--main-bg-color);
}
.btn{
    background:transparent;
    border: 2px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: 18px;
    padding: 15px 25px;
    text-align: center;
    text-decoration:none;
    display:inline-block;
    outline:none;
    position:relative;
    top:0;
    text-shadow:0 1px 1px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
     transition: all 0.2s ease-in-out 0s;
}
.dark-blue.transparent{
    border-color:#34495e;
}
.css-1luajct {
    background: #FFFFFF;
    color: var(--main-bg-color);
    display: inline-block;
    border-radius: 8px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border: 0;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top ease 0.5s;
    /*-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: -webkit-transform 200ms,background 200ms;
    -webkit-transition: transform 200ms,background 200ms;
    transition: transform 200ms,background 200ms;*/
}
.css-1luajct, .css-1luajct:visited,.css-1luajct:hover,.css-1luajct:active {
   text-decoration:none;
 }
.css-1luajct:hover{
    top: -10px;
    background: #cddcf7;
   }